.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 80px 170px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
  color: rgb(234, 225, 218);
}
.about-left img {
  width: 500px;
}
.about-sections {
  display: flex;
  gap: 0px;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(234, 225, 218);
}

.skill-bar.html-css {
  width: clamp(200px, 50vw, 400px);
}
.skill-bar.react {
  width: clamp(200px, 45vw, 370px);
}
.skill-bar.js {
  width: clamp(200px, 45vw, 370px);
}
.skill-bar.next {
  width: clamp(200px, 40vw, 300px);
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(90deg, rgb(180, 210, 255), rgb(200, 230, 255));
}
.about-achievements {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 80px;
}
.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  transition: 0.5s;
}
.about-achievement h1 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(90deg, rgb(180, 210, 255), rgb(200, 230, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 80px 170px;
  }
  .about-title {
    position: relative;
  }
  .about-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
    color: rgb(234, 225, 218);
  }
  .about-left img {
    display: none;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skills {
    gap: 20px;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    margin-left: -40px;
    height: 8px;
    background: linear-gradient(90deg, rgb(180, 210, 255), rgb(200, 230, 255));
  }
  .about-achievements {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 30px;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 80px 170px;
  }
  .about-title {
    position: relative;
  }
  .about-title h1 {
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
    color: rgb(234, 225, 218);
  }
  .about-left img {
    display: none;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skills {
    gap: 20px;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    margin-left: -40px;
    height: 8px;
    background: linear-gradient(90deg, rgb(180, 210, 255), rgb(200, 230, 255));
  }
  .about-achievements {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-top: 30px;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 28px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .about {
    gap: 50px;
    margin: 50px 40px;
    align-items: start;
  }
  .about-title h1 {
    font-size: 40px;
    padding: 0px;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 16px; /* slightly smaller for small screens */
    line-height: 28px;
    width: 100%;
    max-width: 100%;
    padding: 0 0px; /* horizontal padding for breathing space */
    box-sizing: border-box;
    text-align: left; /* optional: adjust for better alignment */
  }
  .about-skills {
    gap: 20px;
  }
  .about-skill p {
    font-size: 16px;
  }
  .skill-bar.html-css {
    width: clamp(100px, 50vw, 200px);
  }
  .skill-bar.react {
    width: clamp(100px, 45vw, 170px);
  }
  .skill-bar.js {
    width: clamp(100px, 45vw, 170px);
  }
  .skill-bar.next {
    width: clamp(100px, 40vw, 100px);
  }

  .about-skill hr {
    margin-left: -90px;
    height: 8px;
    background: linear-gradient(90deg, rgb(180, 210, 255), rgb(200, 230, 255));
  }
  .about-achievements {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 20px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 480px) and (min-width: 100px) {
  .about {
    gap: 50px;
    margin: 50px 40px;
    align-items: start;
  }
  .about-title h1 {
    font-size: 40px;
    padding: 0px;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 16px; /* slightly smaller for small screens */
    line-height: 28px;
    width: 100%;
    max-width: 100%;
    padding: 0 0px; /* horizontal padding for breathing space */
    box-sizing: border-box;
    text-align: left; /* optional: adjust for better alignment */
  }
  .about-skills {
    gap: 20px;
  }
  .about-skill p {
    font-size: 16px;
  }
  .skill-bar.html-css {
    width: clamp(100px, 50vw, 200px);
  }
  .skill-bar.react {
    width: clamp(100px, 45vw, 170px);
  }
  .skill-bar.js {
    width: clamp(100px, 45vw, 170px);
  }
  .skill-bar.next {
    width: clamp(100px, 40vw, 100px);
  }

  .about-skill hr {
    margin-left: -90px;
    height: 8px;
    background: linear-gradient(90deg, rgb(180, 210, 255), rgb(200, 230, 255));
  }
  .about-achievements {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
  .about-achievement {
    gap: 10px;
  }
  .about-achievement h1 {
    font-size: 15px;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 10px;
  }
}
