.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero img {
  margin-top: 160px;
  width: 400px;
}

.hero h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: rgb(234, 225, 218);
}

.hero h1 span {
  background: linear-gradient(90deg, rgb(180, 210, 255), rgb(200, 230, 255));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  font-size: 24px;
  width: 50%;
  text-align: center;
  line-height: 40px;
  color: rgb(234, 225, 218);
}
.hero-action {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;
  font-size: 24px;
}
.hero-connect {
  padding: 25px 60px;
  border-radius: 50px;
  background: rgb(234, 225, 218);
  cursor: pointer;
}
.hero-connect a {
  text-decoration: none;
  color: black;
}
.hero-resume {
  padding: 25px 45px;
  border-radius: 50px;
  border: 2px solid rgb(234, 225, 218);
  cursor: pointer;
}
.hero-resume a {
  text-decoration: none;
  color: rgb(234, 225, 218);
}
.hero-connect:hover {
  border: 2px solid white;
}
.hero-resume:hover {
  border-color: rgb(180, 170, 163);
}
