.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.mywork-title {
  position: relative;
}
.mywork-title h1 {
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
  color: rgb(234, 225, 218);
}
.mywork-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  gap: 80px;
  padding: 10px 0;
  width: 100%;
  scroll-snap-type: x mandatory; /* enables snapping */
}

.mywork-container::-webkit-scrollbar {
  display: none;
}

.work-item {
  flex: 0 0 400px; /* match image width */
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mywork-container .project-image {
  box-sizing: border-box;
  width: 400px; /* Adjust width as needed */
  height: auto; /* Maintains aspect ratio */
  object-fit: cover; /* Ensures proper scaling */
  border-radius: 10px; /* Optional: Rounds corners */
  transition: 0.3s; /* Smooth transition for hover effect */
}
.mywork-container .project-image:hover {
  transform: scale(1.1); /* Slightly enlarges the image on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
  border: 4px solid rgb(234, 225, 218); /* Optional: Adds a border on hover */
  border-radius: 10px; /* Maintains the rounded corners */
  transition: 0.3s; /* Ensures the transition is smooth */
  cursor: pointer;
}
.github-link {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.865); /* Light background for contrast */
  padding: 0.5px;
  border-radius: 50%;
  transition: 0.3s; /* Smooth transition for hover effect */
}

.github-icon {
  width: 34px; /* Small fixed size */
  height: 34px;
}
.github-icon:hover {
  opacity: 0.7; /* Subtle fade effect on hover */
  transition: 0.3s; /* Smooth transition for hover effect */
}
.deployed-link {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-family: Outfit, sans-serif; /* Ensure consistency with the rest of the site */
  color: rgb(234, 225, 218);
  text-decoration: none;
  text-align: center;
}

.mywork-showmore {
  display: flex;
  gap: 15px;
  align-items: center;
  border-radius: 50px;
  border: 2px solid rgb(234, 225, 218); /* Optional: Border for the button */
  padding: 30px 60px; /* Padding for the button */
  font-size: 22px; /* Font size for the button */
  font-weight: 500;
  margin-bottom: 80px; /* Ensures spacing below the button */
  transition: 0.6s; /* Smooth transition for hover effect */
  cursor: pointer;
}
.mywork-showmore a {
  text-decoration: none; /* Removes underline from link */
  color: rgb(234, 225, 218); /* Text color */
}
.mywork-showmore img {
  width: 40px; /* Adjust icon size as needed */
  align-items: center;
}
.mywork-showmore:hover {
  border-color: rgb(180, 170, 163); /* Border color on hover */
  transform: scale(1.1); /* Slightly enlarges the image on hover */
}

.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.carousel-arrow {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  font-weight: 500;
  font-family: Outfit, sans-serif;
  background-color: transparent;
  border: 2px solid rgb(234, 225, 218);
  color: rgb(234, 225, 218);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.carousel-arrow img {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  object-fit: contain;
}

.carousel-arrow:hover {
  background-color: rgb(234, 225, 218);
  color: black;
  transform: scale(1.1);
}

@media (max-width: 1200px) and (min-width: 1024px) {
  .mywork-title h1 {
    padding: 0px;
    font-size: 50px;
    font-weight: 600;
  }
  .carousel-arrow {
    font-size: 30px;
    font-weight: 500;
    font-family: Outfit, sans-serif;
    background-color: transparent;
    border: 2px solid rgb(234, 225, 218);
    color: rgb(234, 225, 218);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }
  .mywork-showmore {
    padding: 20px 40px; /* Adjusted padding for smaller screens */
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
  .mywork-showmore:hover {
    border-color: rgb(180, 170, 163); /* Border color on hover */
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .mywork-title h1 {
    padding: 0px;
    font-size: 50px;
    font-weight: 600;
  }
  .carousel-arrow {
    font-size: 30px;
    font-weight: 500;
    font-family: Outfit, sans-serif;
    background-color: transparent;
    border: 2px solid rgb(234, 225, 218);
    color: rgb(234, 225, 218);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }
  .mywork-showmore {
    padding: 20px 40px; /* Adjusted padding for smaller screens */
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
  .mywork-showmore:hover {
    border-color: rgb(180, 170, 163); /* Border color on hover */
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .mywork {
    gap: 50px;
    margin: 50px 30px; /* Adjusted for smaller screens */
    align-items: start; /* Align items to the start */
  }
  .mywork-title h1 {
    padding: 0px;
    font-size: 40px;
    font-weight: 600;
  }

  .mywork-container {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    gap: 80px;
    padding: 10px 0;
    width: 100%;
    scroll-snap-type: x mandatory; /* enables snapping */
  }
  .mywork-container .project-image {
    box-sizing: border-box;
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures proper scaling */
    border-radius: 10px; /* Optional: Rounds corners */
    transition: 0.3s; /* Smooth transition for hover effect */
  }

  .carousel-arrow {
    font-size: 30px;
    font-weight: 500;
    font-family: Outfit, sans-serif;
    background-color: transparent;
    border: 2px solid rgb(234, 225, 218);
    color: rgb(234, 225, 218);
    padding: 0px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }
  .mywork-showmore {
    padding: 15px 40px; /* Adjusted padding for smaller screens */
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
}

@media (max-width: 480px) and (min-width: 100px) {
  .mywork {
    gap: 50px;
    margin: 50px 30px; /* Adjusted for smaller screens */
    align-items: start; /* Align items to the start */
  }
  .mywork-title h1 {
    padding: 0px;
    font-size: 40px;
    font-weight: 600;
  }
  .mywork-container .project-image {
    box-sizing: border-box;
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures proper scaling */
    border-radius: 10px; /* Optional: Rounds corners */
    transition: 0.3s; /* Smooth transition for hover effect */
  }
  .carousel-arrow {
    font-size: 30px;
    font-weight: 500;
    font-family: Outfit, sans-serif;
    background-color: transparent;
    border: 2px solid rgb(234, 225, 218);
    color: rgb(234, 225, 218);
    padding: 0px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
  }
  .mywork-showmore {
    padding: 15px 40px; /* Adjusted padding for smaller screens */
    font-size: 18px; /* Adjusted font size for smaller screens */
  }
}
